@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-primary {
    @apply hover:from-primary-light hover:to-primary-dark bg-primary-light w-full cursor-pointer rounded-lg p-2 text-center text-white shadow-xl hover:bg-gradient-to-b;
  }
  .button-secondary {
    @apply hover:from-secondary-light hover:to-secondary-dark bg-secondary-light w-full cursor-pointer rounded-lg p-2 text-center shadow-xl hover:bg-gradient-to-b;
  }
  .button-tertiary {
    @apply hover:from-tertiary-light hover:to-tertiary-dark bg-tertiary-light w-full cursor-pointer rounded-lg p-2 text-center shadow-xl hover:bg-gradient-to-b;
  }
  .button-danger {
    @apply hover:from-danger-light hover:to-danger-dark bg-danger-light w-full cursor-pointer rounded-lg p-2 text-center shadow-xl hover:bg-gradient-to-b;
  }
  .button-success {
    @apply hover:from-success-light hover:to-success-dark bg-success-light w-full cursor-pointer rounded-lg p-2 text-center shadow-xl hover:bg-gradient-to-b;
  }
}

.rainbow-border {
  --angle: 0deg;
  background-image: conic-gradient(
    from var(--angle),
    red,
    yellow,
    lime,
    aqua,
    blue,
    magenta,
    red
  );
  background-origin: border-box;
  border-color: transparent;
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
