@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-primary {
    @apply w-full cursor-pointer rounded-lg bg-primary-light p-2 text-center text-white shadow-xl hover:bg-gradient-to-b hover:from-primary-light hover:to-primary-dark;
  }
  .button-secondary {
    @apply w-full cursor-pointer rounded-lg bg-secondary-light p-2 text-center shadow-xl hover:bg-gradient-to-b hover:from-secondary-light hover:to-secondary-dark;
  }
  .button-tertiary {
    @apply w-full cursor-pointer rounded-lg bg-tertiary-light p-2 text-center shadow-xl hover:bg-gradient-to-b hover:from-tertiary-light hover:to-tertiary-dark;
  }
  .button-danger {
    @apply w-full cursor-pointer rounded-lg bg-danger-light p-2 text-center text-white shadow-xl hover:bg-gradient-to-b hover:from-danger-light hover:to-danger-dark;
  }
  .button-success {
    @apply w-full cursor-pointer rounded-lg bg-success-light p-2 text-center text-white shadow-xl hover:bg-gradient-to-b hover:from-success-light hover:to-success-dark;
  }
  .button-disabled {
    @apply w-full cursor-not-allowed rounded-lg bg-slate-500 p-2 text-center text-white shadow-xl;
  }
}

.rainbow-border {
  --angle: 0deg;
  padding: 2px;
  animation:
    rotate 1.5s linear infinite,
    showHide 60s step-start infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes showHide {
  0%,
  10% {
    background-image: conic-gradient(
      from var(--angle),
      red,
      orange,
      yellow,
      lime,
      aqua,
      blue,
      darkviolet,
      magenta,
      red
    );
  }
  11%,
  100% {
    background-image: none;
    background-color: #0f6c6c;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
